{% extends "base.html" %}
{% block content %}

    <h2>{{ page_title }}</h2>
    <p>
        Among all legendary creatures, the dragons (derived from Greek δράκων or drákōn) have taken their unique place among
        the pedestals of mythological accounts as well as present-day popular culture. And quite interestingly, dragons (or
        at least dragon-like entities) have been symbolic fixtures from a myriad of regions across the world. Of course,
        many of these mythical traditions have developed and evolved distinctly without much influence from one another, and
        yet the monsters have commonly played their major parts as gods, demons, and even personifications of nationalism.
        So, without further ado, let us take a gander at ten mythical dragon entities from cultures across the planet that
        you might not have known about.
    </p>

    {% for member in company %}

        <div class="row featurette">

            {% if loop.index % 2 != 0 %}

                <div class="col-md-7">
                    <h3><a href="/about/{{ member.url }}">{{ loop.index }}. {{ member.name }}</a></h3>
                    <p>
                        {{ member.description }}
                    </p>
                </div>
                <div class="col-md-5">
                    <img src="{{ member.image_source }}" alt="Akhekh (from Egypt)" class="featurette-image image-responsive">
                </div>

            {% else %}
            
                <div class="col-md-5">
                    <img src="{{ member.image_source }}" alt="Akhekh (from Egypt)" class="featurette-image image-responsive">
                </div>
                <div class="col-md-7">
                    <h3><a href="/about/{{ member.url }}">{{ loop.index }}. {{ member.name }}</a></h3>
                    <p>
                        {{ member.description }}
                    </p>
                </div>

            {% endif %}

        </div>

        {% if loop.index != compLen %}

        <hr class="featurette-divider">

        {% endif %}

    {% endfor %}

{% endblock %}